# Ignore node_modules directory
node_modules/

# Ignore any .env files (if you have sensitive information in them)
.env

# Ignore any build artifacts or temporary files
/dist/
.DS_Store
Thumbs.db


# Editor-specific files
.vscode/
.idea/
